.tm_amin_main{
    height: 100vh;
    display: flex;
    align-items: center;
}
.tm_amin_main_text_title h4{
    color: #45c08d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.tm_amin_main_btn button{
    background-color: #45c08d;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 12px;
    border: 2px solid #45c08d;
}
.tm_amin_main_btn button:hover{
    color: #45c08d;
    background-color: transparent;
}
.tm_amin_main_box{
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
}


